.Rproj.user
.Rhistory
.RData
.DS_Store
_book
chimie-generale.log
chimie-generale.toc
chimie-generale_files

/.quarto/
**/*.quarto_ipynb
/chimie-generale.tex
/chimie-generale.log
/site_libs/

/.venv/
/slides/
/fields/
